a
{
  "Comment": "Orchestration of two Glue jobs",
  "StartAt": "RunGlueJob1",
  "States": {
    "RunGlueJob1": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "teste 1"
      },
      "ResultPath": "$.Job1Result",
      "Next": "CheckJob1Status"
    },
    "CheckJob1Status": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Job1Result.JobRun.State",
          "StringEquals": "SUCCEEDED",
          "Next": "RunGlueJob2"
        }
      ]
    },
    "RunGlueJob2": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "teste"
      },
      "ResultPath": "$.Job2Result",
      "End": true
    }
  }
}







{
  "Comment": "Orchestration of two Glue jobs",
  "StartAt": "RunGlueJob1",
  "States": {
    "RunGlueJob1": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "teste 1"
      },
      "ResultPath": "$.Job1Result",
      "Next": "CheckJob1Status"
    },
    "CheckJob1Status": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Job1Result.JobRun.State",
          "StringEquals": "SUCCEEDED",
          "Next": "RunGlueJob2"
        }
      ],
      "Default": "WaitJob1Status"
    },
    "WaitJob1Status": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "CheckJob1Status"
    },
    "RunGlueJob2": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "teste 2"
      },
      "ResultPath": "$.Job2Result",
      "End": true
    }
  }
}
